<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
</head>
<body>

	<h2>Home Page ...</h2>

	<h1>Отпускные туры</h1>
	{{#each vacations}}
		<div class="vacation">
			<h3>{{name}}</h3>
			<p>{{description}}</p>
			{{#if inSeason}}
				<span class="price">{{price}}</span>
				<a href="/cart/add?sku={{sku}}" class="btn btn-default">Buy Now!</a>
			{{else}}
			<span class="outOfSeason">К сожалению, в настоящий момент не сезон для
				этого тура.
				{{! Страница "сообщите мне, когда наступит сезон для этого тура" станет  нашей следующей задачей. }}

				<a href="/notify-me-when-in-season?sku={{sku}}">Сообщите мне, когда на ступит сезон для этого тура.</a>

			{{/if}}
		</div>
	{{/each}}

	{{> weather}}



</body>
</html>